@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px Roboto, sans-serif;
  color: #fff;
  background: #121212;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

#title {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: min-content;
  margin: 50px auto 0;
  border: 7.5px solid rgba(255, 255, 255, 0.05);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  /* responsive width and height */
  width: 10vw;
  height: 10vw;

  max-width: 75px;
  max-height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 10vw;
  height: 10vw;

  max-width: 75px;
  max-height: 75px;
}

.black {
  background: #774c3b;
}

.white {
  background: #c99468;
}
